/*--scss:defaults--*/
$primary: #fffff8;
$link-color: #618f69;
$body-bg: #fffff8;
$popover-bg: #eeeee0;
$progress-bg: #eeeee0;
$border-left-color: #348aa7 !default;
$background-color: #E0F0F5 !default;
$icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16"> <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/> <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/></svg>') !default;

/*-- scss:rules --*/
div.callout-prep.callout {
  border-left-color: $border-left-color !important;
}

div.callout-prep.callout-style-default > .callout-header {
  background-color: $background-color !important;
}

.callout-prep .callout-icon {
  display: unset !important;
}

div.callout-prep.callout-titled .callout-icon::before {
  background-image: $icon;
}

div.callout-icon-container {
  padding-top: 0.2em;
  padding-right: 0.5em;
}
